/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Roboto, Helvetica, Helvetica Neue, Arial;
    background: url('../img/header-back.jpg') no-repeat;
    background-size: contain;
}


.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;

    position: fixed;
    z-index: 101;
    width: 100%;
}

.title a {
    color: white;
}

.title a:hover {
    color: white;
    text-decoration: none;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

footer.section {
    padding: 50px 20px;
    color: white;
}

.header-slider {
    height: 500px;
    padding-top: 120px;
}

.fp-auto-height .fp-slide.slide-300 {
    height: 300px !important;
}

.slide-darkred {
    background-color: darkred;
    height: 300px;
}
.slide-1 {
    /*background-color: red;*/
    height: 300px;

    background: url('../img/metalloprokat.jpg') no-repeat;
    background-size: cover;
    background-position: 0 50%;
}
.slide-2 {
    /*background-color: lightgreen;*/
    height: 300px;

    background: url('../img/kabel.jpg') no-repeat;
    background-size: cover;
    background-position: 0 50%;
}
.slide-blue {
    background-color: lightblue;
    height: 300px;
}

.section h2 {
    margin-top: 180px;
    color: #ffffff;
    display: block;
    background-color: #f16529;
    padding: 10px 0 10px 40px;
}
.section.section-metall ul, .section.section-cable ul {
    display: flex;
    flex-wrap: wrap;

    list-style: none;
    padding: 0;
}

.section.section-metall ul {
    justify-content: space-around;
}

.section.section-cable ul {
    justify-content: center;
}

.section.section-metall ul li {
    width: 22%;
}

.section.section-cable ul li {
    margin: 0 30px;
    width: 22%;

}

.section.section-metall ul li div, .section.section-cable ul li div {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 70%;
    background-size: cover;
    background-position: 0 50%;
}


/* ======== links img's in nav lists ======== */
.truba {
    background: #000 url('../img/menu-truba.jpg') no-repeat;
}

.balka {
    background: #000 url('../img/menu-balka.jpg') no-repeat;
}

.ugol {
    background: #000 url('../img/menu-ugol.jpg') no-repeat;
}

.setka {
    background: #000 url('../img/menu-setka.jpg') no-repeat;
}

.armatura {
    background: #000 url('../img/menu-armatura.jpg') no-repeat;
}

.krug {
    background: #000 url('../img/menu-krug.jpg') no-repeat;
}

.shveller {
    background: #000 url('../img/menu-shveller.jpg') no-repeat;
}

.list {
    background: #000 url('../img/menu-list.jpg') no-repeat;
}


.air {
    background: #000 url('../img/menu-air.jpg') no-repeat;
}

.notizo {
    background: #000 url('../img/menu-notizo.jpg') no-repeat;
}

.setup {
    background: #000 url('../img/menu-setup.jpg') no-repeat;
}

.poliet {
    background: #000 url('../img/menu-poliet.jpg') no-repeat;
}

.sila {
    background: #000 url('../img/menu-sila.jpg') no-repeat;
}

.control {
    background: #000 url('../img/menu-control.jpg') no-repeat;
}

/* ======== links img's in nav lists ======== */

.section.section-metall ul li a, .section.section-cable ul li a {
    display: block;
    width: 100%;
    height: 260px;
    /*background-color: #f5f5f5;*/
    background-color: white;
    position: relative;
    overflow: hidden;
    margin: 30px auto;
    border-radius: 0;
    transition: all .16s ease-out;
    box-shadow: 0 6px 12px 0 rgba(54, 70, 84, 0.4);

}
.section.section-metall ul li a:hover, .section.section-cable ul li a:hover {
    background-color: #fff;
    
    -webkit-box-shadow: 0 12px 16px rgba(0,0,0,0.3);
       -moz-box-shadow: 0 12px 16px rgba(0,0,0,0.3);
            box-shadow: 0 12px 16px rgba(0,0,0,0.3);

    transform: translateY(-4px);

    transition: all .32s ease-out;
}

.section.section-metall ul li a span, .section.section-cable ul li a span {
    position: absolute;
    z-index: 2;
    bottom: 0;
    font-size: 18px;
    color: #505050;
    line-height: 1.1;
    font-weight: bold;
    font-family: roboto;
    margin: 0 20px 10px 20px;
}
.section ul li a .a__circle-animate {
    display: block;
    width: 10px;
    height: 10px;
    background-color: orange;
    position: absolute;
    top: 235px;
    left: 20px;
    border-radius: 80px;
    transition: all .24s ease-out;
    z-index: 1;
    opacity: 0;    
}

.section ul li a:hover .a__circle-animate {
    transform: scale(16);
    opacity: 1;
    /*transition: all .24s ease-out;*/
}


/* ======== map ============ */

.section.section-map ul {
    /*display: block;*/
}

.section.section-map ul li {
    /*margin: 0 30px;*/
}

#moskva, #piter, #mainoffice {
    height: 300px;
    padding: 0;
    background: #FFF;
}

.section.section-map .contact-address {
    display: inline-block;
}









/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.4);
           -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.4);
                box-shadow: 0 5px 10px rgba(0,0,0,0.4);
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        /*float: left;*/
        /*width: 57%;*/

        width: 100%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}