html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    position: relative;
    font-size: 16px;
	line-height: 1.2;
	font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
	color: #000000;
	/*background-color: #ededed;*/
	background-color: #fafafa;
	-webkit-text-size-adjust: none;
	min-width: 320px;
}

.body_error-page {
    background: url(../images/404_back.jpg) no-repeat;
    background-color: #fafafa;
    background-position: top right;
    background-size: cover;
}

@media screen and (max-width: 1440px) {
	.body_back-1 {
		    background: url(../images/section_back-1.jpg) no-repeat top right;
	}
	.body_back-1:before {
		display: none;
	}
}
@media screen and (min-width: 1441px) {

	.body_back-1 {
		    background-image: none;
	}
	.body_back-1:before {
	    background: url(../images/section_back-1.jpg) no-repeat top right;
	    background-size: contain;
	    content: '';
	    width: 100%;
	    height: 100%;
	    padding: 0;
	    margin: 0;
	    position: absolute;
	    right: 0;
	    z-index: -1;
	}
}


@media screen and (max-width: 1440px) {
	.body_back-2 {
		    background: url(../images/section_back-2.jpg) no-repeat top left;
	}
	.body_back-2:before {
		display: none;
	}
}
@media screen and (min-width: 1441px) {

	.body_back-2 {
		    background-image: none;
	}
	.body_back-2:before {
	    background: url(../images/section_back-2.jpg) no-repeat top left;
	    background-size: contain;
	    content: '';
	    width: 100%;
	    height: 100%;
	    padding: 0;
	    margin: 0;
	    position: absolute;
	    right: 0;
	    z-index: -1;
	}
}

@media screen and (max-width: 1440px) {
	.seo_text {
		    background: url(../images/section_back-seo.jpg) no-repeat bottom left;
	}
	.seo_text:before {
		display: none;
	}
}
@media screen and (min-width: 1441px) {

	.seo_text {
		    background-image: none;
	}
	/*.seo_text:before {
	    background: url(../images/section_back-seo.jpg) no-repeat bottom left;
	    background-size: contain;
	    content: '';
	    width: 100%;
	    height: 100%;
	    padding: 0;
	    margin: 0;
	    position: absolute;
	    right: 0;
	    z-index: -1;
	}*/
}

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  border-collapse: collapse;
}

@font-face {
    font-family: 'Neucha';
    src: url('../fonts/Neucha.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 600;
}

/* ================== HELPERS ================== */
/* ============================================ */

.hidden {
	display: none !important;
}

.visible {
	display: block !important;
}

/* ================== !HELPERS ================== */
/* ============================================ */


/* ================== HEADER ================== */
/* ============================================ */

header {
	background: url('../images/header_background.jpg') no-repeat;
	background-position: 0 0;
	background-size: cover;
	padding-top: 20px;
}
@media screen and (min-width: 768px) {
	header {
		height: 90%;
	}
	/*.header_shoptitle {
    	font-size: 60px;

	    top: 60%;
	    transform: translateY(-60%);
	    -webkit-transform: translateY(-60%);

	    text-align: center;
    	max-width: 470px;
	}*/
}

.fuctional-panel {
	position: relative;
	z-index: 101;
}
@media screen and (max-width: 991px) {
	.header_shoptitle {
		font-size: 60px;
		text-align: center;
		width: 100%;
		margin: 0 auto;
		padding: 0 30%;
	}
}
@media screen and (min-width: 991px) {
	.header_shoptitle {
    	font-size: 60px;

	    top: 60%;
	    transform: translateY(-60%);
	    -webkit-transform: translateY(-60%);

	    text-align: center;
    	max-width: 470px;
	}	
}
.header_inviteimg {
	position: absolute;
}
@media screen and (max-width: 767px) {
	.header_inviteimg {
		max-width: 100%;
	    padding: 0 10%;
	    right: 0;
	    text-align: center;
	    left: 0;
	    bottom: 5%;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.header_inviteimg {
		width: 50%;
	    height: auto;
	    bottom: 5%;
	    right: 0;
	    left: 0;
	    margin: 0 auto;
	}
}
@media screen and (min-width: 992px) {
	.header_inviteimg {
		bottom: 0;
		/*max-width: 470px;*/
		width: 50%;
	    right: 10%;
	    transform: translateX(10%);
	    -webkit-transform: translateX(10%);
	}
}
@media screen and (min-width: 1600px) {
	.header_inviteimg {
		width: 40%;
	}
}
@media screen and (max-width: 767px) {
	header {
		min-height: 90%;
		width: 100%;
	}
	.header_shoptitle {
		font-size: 36px;
		/*text-align: center;
    	top: 50%;
    	width: 100%;
    	padding: 0 10%;

    	right: 0;
    	left: 0;*/
	}
	.header_inviteimg img {
		/*max-width: 235px;*/
	}
}
@media screen and (max-width: 539px) {
	.header_shoptitle {
		top: 50%;
	    width: 100%;
	    right: 0;
	    left: 0;
		padding: 0 10%;
	}
}

@media screen and (max-width: 539px) {
	.header_logo {
		left: 0;
	    right: 0;
	    transform: translateY(15%);
	    width: 100%;
	    text-align: center;
	    /*padding: 0 10%;*/
	}
}
@media screen and (min-width: 540px) {
	.header_logo {
		width: 30%;
    	transform: translateY(-10%);
	}
}

.header_logo {
	position: absolute;
	top: 0;
}
.header_logo a > img {
	width: 100%;
	max-width: 472px;
	height: auto;
}
.header_inviteimg img {
	width: 100%;
}
.header_shoptitle {
	font-family: Neucha;
    color: #054f62;

    display: inline-block;
    position: absolute;
}

.header_phone-number {
    color: #054f62;
    font-weight: 600;
    display: block;
    font-size: 24px;
}

.header_phone-order {
	display: block;
	text-decoration: underline;
	font-weight: 400;
	line-height: 1;
	color: #054f62;
	font-size: 16px;
}
.nav_for-mobile {
	z-index: 102;
}
.nav_for-mobile button {
	background: url('../images/nav_icon.png') no-repeat;
	width: 23px;
	height: 22px;
	font-size: 0;
	border: 0;
}

.header_nav-small {
	display: none;
	list-style: none;
    width: 100%;
    height: 100%;
    background-color: #bee3ea;
    padding: 15%;
    top: 0;
    z-index: 10;
    position: fixed;
}
.header_nav-small li {
	margin: 20px 0;
}

.header_workingtime {
    background: url(../images/header_workingtime-image.png) no-repeat;
    background-position: 0px 3px;
    padding-left: 47px;
}

.header_workingtime-time {
	font-size: 26px;
	color: #054f62;
	line-height: 1;
	font-weight: 600;
	display: block;
}

.header_workingtime-time > sup {
	position: relative;
    font-size: 70%;
    line-height: 0;
    vertical-align: top;
    font-weight: 600;
    top: 10px
}

.header_workingtime-week {
	font-size: 13px;
	color: #054f62;
	line-height: 1;
	font-weight: 600;
	display: block;

	margin-top: 6px;
    margin-left: 3px;
}

.header_nav {
	font-family: 'Neucha', 'Roboto', 'Helvetica', Arial, sans-serif;
	font-size: 20px;
	margin-top: 40px;
}
@media screen and (min-width: 1600px) {
	.header_nav {
		font-family: 'Neucha', 'Roboto', 'Helvetica', Arial, sans-serif;
		font-size: 32px;
		margin-top: 40px;
	}	
}
.header_nav ul {
	list-style: none;
}

.header_nav ul li {
	display: inline-block;
    margin: 0 10px;
}

.header_nav ul li > a, 
.header_nav ul li > a:visited {
	text-decoration: none;
	color: #054f62;
}

.header_nav ul li > a:hover,
.header_nav ul li > a:focus {
	text-decoration: underline;
	color: #054f62;
}

.header_nav ul li > a:active {
	text-decoration: none;
	color: #054f62;
}

.header_cart {
	background: url('../images/header_img-cart.png') no-repeat;
	/*width: 34px;*/
	height: 36px;
}

.header_search-btn {
	background: url('../images/header_img-search.png') no-repeat;
	/*width: 33px;*/
	height: 33px;
}

#header_search-form {
	/*width: 100%;*/
	width: 75%;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 25%;
    margin: 0 auto;
    /*bottom: 50%;*/
    z-index: 101;

    display: none;
}

#header_search-form form > input[type='search'] {
	width: 100%;
    border: 1px solid #054f62;
    background-color: #dfeff3;
    border-radius: 20px;
    padding: 3px 30px;
    height: 40px;
    max-width: 800px;
    outline: none;

        color: #054f62;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
}
/* ================== !HEADER ================== */
/* ============================================ */

@media screen and (min-width: 500px) (max-width: 767px) {
	.offers {
		width: 70%;
	}
}

@media screen and (min-width: 1441px) {
	.catalog,
	.offers {
		width: 1441px;
		margin: 0 auto;
	}
}

/* ================== MAIN CATALOG ================== */
/* ============================================ */

@media screen and (min-width: 1441px) {
	.main-catalog {
		width: 1440px;
	}
}
@media screen and (min-width: 768px) {
	.main-catalog_card {
/*		margin-right: 15px;
		margin-left: 15px;*/
	}
}
.main-catalog_card {
	padding: 0;
	margin-bottom: 20px;
	margin-top: 20px;
	/*padding: 0 15px;*/
}
.main-catalog_card img {
	width: 100%;
}

/* ================== !MAIN CATALOG ================== */
/* ============================================ */


/* ================== SECTION ================== */
/* ============================================ */

section h1 {
	font-family: 'Neucha', 'Roboto', 'Helvetica', Arial, sans-serif;
	color: #6f2525;
	background-image: url('../images/section_h1-curves.png');
	background-repeat: no-repeat;
	background-position: center bottom;
    text-align: center;
    padding: 0 10% 20px 10%;
    margin: 80px 0 50px 0;
}

section.catalog h1 {
	margin: 80px 0 20px 0;
}
.catalog_filter {
	width: 90%;
	text-align: center;
	color: #191919; 
	font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
	margin: 0 auto 100px;
}
.catalog_filter span {
	color: #686868;	
}
@media screen and (max-width: 767px) {
	.catalog_filter span {
		display: block;
		padding: 0;
		margin-top: 10px;
	}
}
@media screen and (min-width: 768px) {
	.catalog_filter span {
		display: inline-block;
		padding: 0;
	}
}
.catalog_filter a,
.catalog_filter a:visited,
.catalog_filter a:hover,
.catalog_filter a:focus,
.catalog_filter a:active {
	color: #a87712;
	font-weight: 500;
	text-decoration: underline;
}

section h2 {
	font-family: 'Neucha', 'Roboto', 'Helvetica', Arial, sans-serif;
	font-size: 24px;
	text-align: center;
	color: #6f2525;
}
@media screen and (min-width: 768px) {
	section h1 {
		font-size: 48px;
		background-size: initial;
	}
}
@media screen and (max-width: 767px) {
	section h1 {
		font-size: 32px;
		background-size: 205px;
	}
}

/* ================== !SECTION ================== */
/* ============================================ */

.delivery,
.about,
.contacts {
	margin-top: 60px;
}

.article {
		/*padding: 0;*/
}
@media screen and (min-width: 992px) {
	.article h1 {
		background-image: url('../images/article_image-icon.png');
		background-repeat: no-repeat;
		background-size: 112px 112px;
		padding-left: 150px;
		background-position: top left;
		line-height: 112px;
		text-align: left;
	}
}
@media screen and (max-width: 991px) {
	.article h1 {
		background-image: url('../images/article_image-icon.png');
		background-repeat: no-repeat;
		background-size: 56px 56px;
		padding-left: 70px;
		background-position: top left;
		/*line-height: 56px;*/
		text-align: left;
	}
}
.article_image-title {
	width: 100%;
	z-index: -1;
	position: absolute;
	left: -15px;
    width: calc(100% + 15px);
}
@media screen and (min-width: 1201px) {
	.article_image-title {
		width: 100%;
    	width: calc(100% + 15px);
		z-index: -1;
		position: absolute;
		transform: translateY(-60%);
	}	
}

.about p,
.contacts p,
.article p {
	font-size: 18px;
	color: #6f2525;
	font-weight: 400;
	margin-top: 20px;
	margin-bottom: 20px;
}
.article p {
	font-weight: 300;
}
.about span.subtitle {
	font-family: 'Neucha', 'Roboto', 'Helvetica', Arial, sans-serif;
	font-size: 24px;
	color: #6f2525;
}
.about_bullet span,
.article_subtitle {
	color: #6f2525;
	font-size: 30px;
	font-family: 'Neucha', 'Roboto', 'Helvetica', Arial, sans-serif;
	display: block;
	margin-bottom: 50px;
}
.contacts .contacts_phone,
.contacts .contacts_whatsapp {
	color: #6f2525;
	font-size: 24px;
	font-weight: 500;
	text-align: left;
	display: inline-block;
	margin: 20px 0; 
}
.contacts .contacts_phone span,
.contacts .contacts_whatsapp span {
	display: block;
	color: black;
	font-size: 14px;
	font-weight: 600;
}
.contacts_map {
	width: 100%;
}
.delivery_bullets {
	margin-bottom: 40px;
}

.delivery_bullets span {
	color: #6f2525;
	font-size: 16px;
	line-height: 1.2;
	display: block;
	margin: 10px 0;
}

.delivery_bullets a {
	color: #8d6414;
	font-size: 18px;
	text-align: center;
	display: block;
	text-decoration: underline;
}

.delivery_bullets a.delivery_how-phone {
	font-size: 24px;
	text-decoration: none;
}

.delivery .section_delivery-text ul {
	font-size: 18px;
	padding: 0;
}

.delivery .section_delivery-text ul li {
	color: #6f2525;
	line-height: 1.4;
	margin: 0 20px 0 20px;
}

.section_delivery-text {
	margin-top: 60px;
}


/* ================= SECTION CATALOG ================== */
/* ==================================================== */

/* ================== NAV ASIDE MENU ======================== */
.nav_aside-menu {
	/*background-color: white;*/
}

.nav_aside-menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.nav_aside-menu ul li {
	margin: 20px 0 20px 20px;
}

.nav_aside-menu ul li a {
	color: #b09146;
	font-family: 'Neucha', 'Roboto', 'Helvetica', Arial, sans-serif;
	text-decoration: none;
	background: url('../images/nav_aside-menu-icon.png') no-repeat center left;
	padding: 0 0 0 30px;
}

@media screen and (min-width: 1200px) {
	.nav_aside-menu ul li a {
		font-size: 36px;
	}
	.nav_aside-menu ul li .nav_aside-menu-sub li a {
		font-size: 16px;
		line-height: 1;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.nav_aside-menu ul li a {
		font-size: 24px;
	}
	.nav_aside-menu ul li .nav_aside-menu-sub li a {
		font-size: 14px;
		line-height: 1;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.nav_aside-menu ul li a {
		font-size: 18px;
	}
	.nav_aside-menu ul li .nav_aside-menu-sub li a {
		font-size: 14px;
		line-height: 1;
	}
}

.nav_aside-menu-sub {
	display: none;
}

.nav_aside-menu ul li .nav_aside-menu-sub li,
.nav_aside-menu ul li .nav_aside-menu-sub li:visited {
	margin: 10px 0;
	padding: 0 0 0 30px;
	background-image: none;
	background-repeat: no-repeat;
	background-position: center left;

	transition: all .3s ease;
}
.nav_aside-menu ul li .nav_aside-menu-sub li:hover,
.nav_aside-menu ul li .nav_aside-menu-sub li:active,
.nav_aside-menu ul li .nav_aside-menu-sub li:focus {
	background-image: url('../images/nav_aside-menu-sub-hover.png');
	background-repeat: no-repeat;
	background-position: center left;

	transition: all .3s ease;
}



.nav_aside-menu ul li .nav_aside-menu-sub li a,
.nav_aside-menu ul li .nav_aside-menu-sub li a:visited {
	color: #855e00;
	font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
	font-weight: 400;
	background-image: none;
	padding: 0;

	transition: all .3s ease;
}

.nav_aside-menu ul li .nav_aside-menu-sub li a:active,
.nav_aside-menu ul li .nav_aside-menu-sub li a:hover,
.nav_aside-menu ul li .nav_aside-menu-sub li a:focus {
	color: #f36d00;
	font-weight: 600;
		
	padding: 0;

	transition: all .3s ease;
}


/* ==================== !NAV ASIDE MENU ====================== */


.sub-catalog_row {
	/*margin: 120px 0;*/
}
.sub-catalog_row:first-child {
	margin-top: 0;
	margin-bottom: 0;
}

@media screen and (min-width: 1602px) {
	.sub-catalog_row .price-card:first-child .price-card_base {
		/*margin-left: 20%;*/
	}
	.sub-catalog_row .price-card:last-child .price-card_base {
		margin-right: 20%;
	}
}


.price-card {
	min-height: 380px;
	text-align: center;
}
@media screen and (width: 768px) {
	.price-card {
		min-height: 340px;
		text-align: center;
	}	
}
@media screen and (min-width: 992px) {
	.price-card_base {
    	height: 370px;
	    padding: 170px 0 0 0;
	    margin-bottom: 140px;
	}	
}
@media screen and (min-width: 769px) and (max-width: 991px) {
	.price-card_base {
    	height: 270px;
	    padding: 140px 10px 0 10px;
	}	
}
@media screen and (width: 768px) {
	.price-card_base {
    	height: 220px;
    	padding: 100px 0 0 0;
	}	
}
@media screen and (max-width: 767px) {
	.price-card_base {
    	height: 370px;
	    padding: 170px 0 0 0;
    	margin: 80px auto 80px auto;
	}	
}
.price-card_base {
	background-color: white;
    width: 100%;
    max-width: 300px;

    position: relative;

	transition: all .6s ease;
}
.price-card:hover .price-card_base {
	box-shadow: 0px 10px 20px rgba(0,0,0,0.2); 

	transition: all .6s ease;
}
	.price-card_base-img {
		position: absolute;
	    top: -80px;
	    display: inline-block;
	    margin: 0 auto;
	    right: 0;
	    left: 0;
	    width: 100%;
	    max-width: 233px;
	}
	@media screen and (min-width: 991px) {
		.price-card_title {
			font-size: 30px;
		}
		.price-card_price {
			font-size: 36px;
		}
	}
	@media screen and (min-width: 768px) and (max-width: 991px) {
		.price-card_title {
			font-size: 18px;
		}
		.price-card_price {
			font-size: 24px;
		}	
	}
	@media screen and (max-width: 767px) {
		.price-card_title {
			font-size: 30px;
		}
		.price-card_price {
			font-size: 36px;
		}	
	}
	.price-card_title {
		font-family: 'Neucha', 'Roboto', 'Helvetica', Arial, sans-serif;
		line-height: 1;
		color: #b09146;
		display: block;
	}
	.price-card_price {
		font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
		font-weight: 400;
		color: black;
		display: block;
	}
	@media screen and (min-width: 992px) {
		.price-card_btn,
		.product-page_good-btn {
			background-size: 100%;
			font-size: 16px;
		}
		.price-card_btn span {
			top: -30px;
		}
		.product-page_good-btn span {
			bottom: -30px;
		}
	}

	@media screen and (max-width: 991px) {
		.price-card_btn,
		.product-page_good-btn {
			background-size: 50%;
			font-size: 12px;
		}
		.price-card_btn span,
		.product-page_good-btn span {
			top: 13px;
		}
	}

	@media screen and (max-width: 767px) {
		.price-card_btn,
		.product-page_good-btn {
			background-size: 100%;
			font-size: 16px;
		}
		.price-card_btn span
		.product-page_good-btn span {
			top: -30px;
		}
	}
	@media screen and (width: 320px) {
		.product-page_good-btn {
			right: 0 !important;
		    left: 0 !important;
		    max-width: 84px !important;
		    height: 84px !important;			
		}
		.product-page_good-btn span,
		.price-card_btn span {
			top: -23px;
		}
	}

	.price-card_btn,
	.product-page_good-btn {
		width: 100%;
		max-width: 112px;
	    height: 112px;
	    background-image: url('../images/price-card_btn.png');
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-color: transparent;
	    outline: none;
	    border: 0 none;
	    display: inline-block;
	    position: absolute;
	    z-index: 3;
	    margin: 0 auto;
	    color: #a87712;
		font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
		font-weight: 500;
	}
	.price-card_btn {
	    left: 0;
	    right: 0;
	    bottom: -40px;
	}
	.product-page_good-btn {
		left: 10%;
		top: 300px;
	}
	.price-card_btn span,
	.product-page_good-btn span {
		display: inline-block;
		position: absolute;
		right: 0;
		left: 0;
		text-decoration: underline;
	}

/* ================= !SECTION CATALOG ================== */
/* ===================================================== */

/* ================== SECTION SEO ===================== */
/* ===================================================== */


@media screen and (min-width: 992px) {
	section.seo_text {
		color: #054f62;
		font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
		font-weight: 300;
		font-size: 22px;
	}
	section.seo_text h3 {
		font-size: 30px;	
		font-family: 'Neucha', 'Roboto', 'Helvetica', Arial, sans-serif;
	}
}
@media screen and (max-width: 991px) {
	section.seo_text {
		color: #054f62;
		font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
		font-weight: 300;
		font-size: 16px;
	}
	section.seo_text h3 {
		font-size: 24px;	
		font-family: 'Neucha', 'Roboto', 'Helvetica', Arial, sans-serif;
	}
}


/* ================== !SECTION SEO ===================== */
/* ===================================================== */



/* ================== SECTION OFFERS ===================== */
/* ===================================================== */

.offers .pink h3 {
	color: #922075;
}
.offers .gold h3 {
	color: #a87712;
}
.offers .red h3 {
	color: #6f2525;
}
.offer-card {
	position: relative;
	min-height: 460px;
	background-color: white;
}
@media screen and (max-width: 767px) {
	.offer-card {
		margin-top: 70px;
	}
}
.offer-card-right {
	padding-left: 15px;
    padding-right: 15px;
    transform: translateX(-10px);
    background: url(../images/offers_image-3.jpg) no-repeat top left;
    background-color: white;
    background-size: 100%;
}
.offer-card-left {
	padding-right: 0;
    padding-left: 0;
    transform: translateX(10px);
    background: url(../images/offers_image-1.jpg) no-repeat top left;
    background-color: white;
    background-size: 100%;
}
@media screen and (min-width: 768px) {
	.offer-card-left:after {
	    content: '';
	    width: 10px;
	    height: 460px;
	    background-color: rgba(0,0,0,.4);
	    position: absolute;
	    top: 0;
	    right: 10px;
	}
	.offer-card-right:after {
	    content: '';
	    width: 10px;
	    height: 460px;
	    background-color: rgba(0,0,0,.4);
	    position: absolute;
	    top: 0;
	    left: 10px;
	}	
}

.offer-card-center {
	padding:0;
	top: -30px;
	z-index: 10;
	height: 520px;
	background: url(../images/offers_image-2.jpg) no-repeat top left;
    background-color: white;
    background-size: 100%;
}
.offer-card.offer-card-center h3 {
	margin-top: 60%;
}
.offer-card h3 {
	font-family: 'Neucha', 'Roboto', 'Helvetica', Arial, sans-serif;
	width: 90%;
	margin-bottom: 20px;
	padding: 0 7%;
	/*position: absolute;*/
    /*bottom: 30%;*/
    margin-top: 50%;
}
.offer-card p {
	color: #140e00;
	font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
	width: 90%;
	padding: 0 7%;
	    /*position: absolute;*/
    /*bottom: 25%;*/
}
.offer-card img {
	width: 100%;
}

@media screen and (max-width: 767px) {
	.offer-card-center {
		top: 0;
	}
	.offer-card-left {
		transform: translateX(0);
	}
	.offer-card-right {
		transform: translateX(0);
	}
}

@media screen and (min-width: 992px) {
	.offer-card h3 {
		font-size: 42px;
	}
	.offer-card p {
		font-size: 18px; 
	}
}
@media screen and (max-width: 991px) {
	.offer-card p {
		font-size: 18px; 
		line-height: 24px;
	}	
	.offer-card h3 {
		font-size: 36px;
	}
}

@media screen and (max-width: 767px) {
	.offer-card_btn {
		border: 0;
	    width: 112px;
	    height: 112px;
	    display: block;
	    position: absolute;
	    bottom: -20px;
	    left: 0;
	    right: 0;
	    margin: 0 auto;
	}
}
@media screen and (min-width: 768px) {
	.offer-card_btn {
		border: 0;
	    width: 112px;
	    height: 112px;
	    display: block;
	    position: absolute;
	    bottom: -20px;
	    left: 30px;
	}	
}
.offer-card.pink .offer-card_btn {
	background: url('../images/offers_btn-pink.png') no-repeat;
}
.offer-card.gold .offer-card_btn {
	background: url('../images/offers_btn-gold.png') no-repeat;
}
.offer-card.red .offer-card_btn {
	background: url('../images/offers_btn-red.png') no-repeat;
}
/* ================== SECTION OFFERS ===================== */
/* ===================================================== */


/* ================== FOOTER ===================== */
/* ===================================================== */

footer {
	margin-top: 50px;
	background-color: #bce4ee;
}
@media screen and (min-width: 992px) {
	.footer_logo {
		background: url('../images/footer_logo.png') no-repeat;
		max-width: 309px;
		width: 100%;
		height: 170px;
		top: -20px;
	}

	.footer_nav span,
	.footer_payment span {
		color: #00242d;
		font-weight: 500;
		font-size: 24px;
		display: block;
		text-transform: uppercase;
		margin-top: 20px;
	}
	.footer_nav ul {
		padding: 0;
		margin: 10px 0 0 0;
		border-top: 1px solid #00242d;
		list-style: none;
		display: table;
	}
	.footer_nav ul div {
		width: 60%;
		padding-right: 5%;
	    display: table-cell;
	}
	.footer_nav ul li {
		color: #054f62;
		font-size: 18px;
		font-weight: 400;
	}
	.footer_nav ul li a,
	.footer_nav ul li a:hover,
	.footer_nav ul li a:focus,
	.footer_nav ul li a:visited,
	.footer_nav ul li a:active {
		color: #054f62;
		text-decoration: none;
	}

	.footer_payment ul {
		padding: 0;
		margin: 10px 0 0 0;
		border-top: 1px solid #00242d;
		list-style: none;
	}
	.footer_payment ul li {
		display: inline-block;
	}
	.footer_payment ul li img {
		width: 50px;
	}
	.footer_info,
	.footer_dev {
		color: #00242d;
		font-size: 18px;
		font-weight: 500;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.footer_info span {
		display: block;
	}	
}
@media screen and (max-width: 991px) {
	.footer_logo {
		background: url('../images/footer_logo.png') no-repeat;
		max-width: 309px;
		width: 100%;
		height: 170px;
		top: -20px;
		opacity: .3;
	    padding: 0;
	    margin: 0 auto;
	    float: none;
	}
	.footer_nav span,
	.footer_payment span {
		color: #00242d;
		font-weight: 500;
		font-size: 24px;
		display: block;
		text-transform: uppercase;
		margin-top: 20px;
	}
	.footer_nav,
	.footer_payment,
	.footer_info,
	.footer_dev {
		width: 100%;
		max-width: 70%;
		text-align: center;
		float: none;
		margin: 20px auto 20px;
	}
	.footer_nav ul,
	.footer_payment ul {
		padding: 0;
		margin: 10px 0 0 0;
		border-top: 1px solid #00242d;
		list-style: none;
	}
	.footer_payment ul {
		width: 70%;
		margin: 0 auto;
	}
	.footer_nav ul li {
		color: #054f62;
		font-size: 16px;
		font-weight: 400;
		margin: 15px auto;
	}
	.footer_nav ul li a,
	.footer_nav ul li a:hover,
	.footer_nav ul li a:focus,
	.footer_nav ul li a:visited,
	.footer_nav ul li a:active {
		color: #054f62;
		text-decoration: none;
	}
	.footer_payment ul li {
		display: inline-block;
	}
	.footer_info span,
	.footer_dev span {
		display: block;
		margin-top: 15px;
		font-size: 16px;
		font-weight: 500;
		color: #00242d;
	}
}
/* ================== !FOOTER ===================== */
/* ===================================================== */


/**/
.product-page_good {
	background-color: white;
}
.product-page_good p {
	font-size: 18px;
	color: black;
	font-weight: 400;
	margin-top: 70px;
}
.product-page_good-photo {
	width: 100%;
	max-width: 328px;
	margin: 0 auto;
	top: -30px;
}

.ingridients {
	margin: 80px 0 80px 0;
}
.ingridients ul {
	padding: 0;
	margin: 0;
	list-style: none;
	width: 100%;
	margin-top: 30px;
	display: table;
}
@media screen and (min-width: 992px) {
	.ingridients ul li {
		display: table-cell;
		width: 112px;
		font-size: 16px;
		text-align: center;
		color: #6b6b6b;
		height: 140px;
	}
	.ingridients ul {
		padding: 0;
		margin: 0;
		list-style: none;
		width: 100%;
		margin-top: 30px;
		display: table;
	}
}
@media screen and (max-width: 991px) {
	.ingridients ul li {
		display: inline-block;
	    width: 112px;
	    font-size: 16px;
	    text-align: center;
	    color: #6b6b6b;
	    height: 140px;
	    vertical-align: top;
	    margin: 20px 20px;
	}
	.ingridients ul {
		padding: 0;
		margin: 0;
		list-style: none;
		width: 100%;
		margin-top: 30px;
		display: table;
		text-align: center;
	}
}
.ingridients ul li img {
	margin-bottom: 10px;
}
.ingridients span {
	font-size: 16px;
	color: black;
	font-weight: 600;
}
/**/

/**/

.errorpage {
	color: #6f2525;
	font-size: 32px;
	font-family: 'Neucha', 'Roboto', 'Helvetica', Arial, sans-serif;
	/*transform: translateY(50%);*/
	height: 100%;
}
.errorpage span span {
	display: block;
}

@media screen and (max-width: 991px) {
	.errorpage {
		text-align: center;
	}
	.errorpage span span {
		font-size: 160px;
	}
}
@media screen and (min-width: 992px) {
	.errorpage {
		text-align: right;
	}
	.errorpage span span {
		font-size: 160px;
	}	
}

/**/