html, body {
	font-size: 10px;
	font-family: 'Roboto', Helvetica, 'Ubuntu', Arial, serif;
}
header {
	padding: 1rem 0;
	height: 8.5rem;
	background-color: #F6F6F6;
}
	.logo {
		margin-left: 2rem;
	}
	.logo img {
		width: 100%;
    max-width: 14.2rem;
	}
	.phone {
		font-size: 1.2rem;
		color: #666;
		text-transform: uppercase;
		font-weight: 900;
		display: block;
	}
	.choose-city {
		border: 0 none;
	    border-bottom: 1px dashed black;
	    -webkit-appearance: none;
	    font-size: 1.2rem;
	    margin-top: .5rem;
	    color: #666;
	    outline: none;
	    display: inline-block;
	        background-color: #f6f6f6;
	}
	.icon-nav span {
		display: inline-block;
		width: 1.8rem;
		height: 1.8em;
	}
	.search {
		background: transparent url('../images/nav-sprite.png') ;
		background-position: 0px 0px;
		background-repeat: no-repeat;
	}
	.cart {
		background: transparent url('../images/nav-sprite.png') ;
		background-position: -20px 0px;
		background-repeat: no-repeat;	
	}
	.login {
		background: transparent url('../images/nav-sprite.png') ;
		background-position: -43px 0px;
		background-repeat: no-repeat;
		    margin-left: 5rem;
	}
header nav {
	height: 3.5rem;
	border-bottom: 1px solid #a9a9a9;
	background-color: #F6F6F6;
}
	header nav ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	header nav ul li {
		display: inline-block;
		font-size: 1.2rem;
		color: #666;
		font-weight: 500;
		margin: 0 2rem;
		line-height: 3;
		text-transform: uppercase;
	}
	.nav-sale {
		color: #D20000;
		font-weight: 900;
	}
.divider {
	height: 10rem;
}
#woman {
	height: 41.5rem;
	background-color: transparent;
	color: white;
}

#woman .base {
	background-image: url("../images/woman-base.png");
    background-repeat: no-repeat;
    background-position: top left;
}

.title-woman {
	/*background: url("../images/descr-label-woman.png") no-repeat;*/
	max-width: 24.2rem;
	height: auto;
	margin-top: 5rem;
	/*width: 100%;*/
}
.title-woman img, .title-man img {
	width: 100%;
}

#man {
	height: 41.5rem;
	background-color: transparent;
	color: #442e19;
}
#man .base {
	background-image: url("../images/man-base.png");
    background-repeat: no-repeat;
    background-position: top left;
}
.title-man {
	/*background: url("../images/descr-label-man.png") no-repeat;*/
	max-width: 24.2rem;
	height: auto;
	margin-top: 5rem;
	/*width: 100%;*/
}

.base {
	background-color: #ccc;
	height: 41.5rem;
	    position: relative;
    z-index: 10;
}
.description {
	height: 41.5rem;
	background-color: transparent;
	padding-left: 10%;
}
@media screen and (min-width: 768px) {
	.description h1 {
	    width: 50%;
	}
	.description p {
		width: 50%;
	}	
}
@media screen and (max-width: 767px) {
	.description h1 {
		font-size: 3.6rem;
	    font-weight: 300;
	    line-height: 3.2rem;
	    max-width: 34rem;
	    margin-top: 3rem;
		width: 100%;
	}
	.description p {
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 1.2;
		max-width: 34rem;
		margin-top: 2rem;
		width: 100%;
	}
}


@media screen and (min-width: 768px) {
	.woman-shoes, .man-shoes {
		    position: relative;
	    left: 10rem;
	    padding-top: 7rem;
	}
}
@media screen and (max-width: 767px) {
	.woman-shoes, .man-shoes {
	    position: relative;
	    left: 0;
	    padding-top: 7rem;
	}	
}
.woman-shoes img, .man-shoes img {
	width: 100%;
	    max-width: 38.7rem;
}

.control-woman-shoes, .control-man-shoes {
	    position: relative;
    left: 11rem;
    padding-top: 3rem;
	
}
	.control-woman-shoes ul, .control-man-shoes ul {
		margin: 0;
		padding: 0;
	}
	.control-woman-shoes ul li, .control-man-shoes ul li {
		display: inline-block;
		width: 2rem;
		height: 2rem;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		margin-right: 1rem;
		cursor: pointer;
	}
	.control-woman-shoes ul li.active, .control-man-shoes ul li.active {
		/*border:2px solid white;*/
		-webkit-box-shadow: 0px 0px 0px 3px #FFF;
		        box-shadow: 0px 0px 0px 3px #FFF;
	}
	.control-woman-shoes .pink {
		background-color: #ea6060;
	}
	.control-woman-shoes .gray {
		background-color: #474747;
	}
	.control-woman-shoes .white {
		background-color: #efefef;
	}
	.control-woman-shoes .purple {
		background-color: #7d2d65;
	}
	.control-woman-shoes .blue {
		background-color: #355985;
	}
	.control-woman-shoes .green {
		background-color: #428873;
	}


	.control-man-shoes .green {
		background-color: #647771;
	}
	.control-man-shoes .gray {
		background-color: #474747;
	}
	.control-man-shoes .blue {
		background-color: #48576b;
	}
	.control-man-shoes .light {
		background-color: #838383;
	}
.shop-btn, .shop-btn:visited {
	display: block;
    position: relative;
    left: 11rem;
    margin: 3rem 0;
    background-color: #dadada;
    border: 2px solid #666666;
    max-width: 13rem;
    line-height: 2;
    font-size: 1.8rem;
    color: #666666;
    padding: 0 0 0 1rem;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 12px #838383;
            box-shadow: 0 4px 12px #838383;
    background: url('../images/btn-cart.png') no-repeat;
    background-position: center right .5rem;
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
}
.shop-btn:focus, .shop-btn:hover {
	    outline: none;
    text-decoration: none;
    color: #666;
    background-color: white;
    /*border-color: white;*/
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
}
.shop-btn:active {
	-webkit-box-shadow: none;
	        box-shadow: none;
	-webkit-transition: all .2 ease;
	   -moz-transition: all .2 ease;
	    -ms-transition: all .2 ease;
	     -o-transition: all .2 ease;
	        transition: all .2 ease;
}

    